.formbg-outer-ascension p,
.formbg-outer-ascension a,
.formbg-outer-ascension div,
.formbg-outer-ascension span,
.formbg-outer-ascension h1,
.formbg-outer-ascension h2,
.formbg-outer-ascension h3,
.formbg-outer-ascension h4,
.formbg-outer-ascension h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(39, 39, 39) !important;
}

.formbg-outer-ascension p {
    margin: 0px !important;
    padding: 0px !important;
    font-weight: 500 !important;
    font-size: 12px !important;
}

.formbg-outer-ascension .pp-custom-select {
    background-color: white !important;
}

.formbg-outer-ascension .vs__selected-options {
    flex-wrap: nowrap !important;
}

.formbg-outer-ascension .vs__search {
    box-shadow: none !important;
    width: 20px !important;
}

.formbg-outer-ascension .vs__selected {
    font-size: 16px !important;
    width: 100% !important;
    text-align: left !important;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.modal_form_ascension-btn:checked+label,
.modal_form_ascension-btn:not(:checked)+label {
    position: relative !important;
    font-weight: 700;
    font-size: 15px;
    line-height: 2;
    height: 50px !important;
    transition: all 200ms linear !important;
    border-radius: 4px !important;
    width: 240px !important;
    letter-spacing: 1px !important;
    display: -webkit-inline-flex !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -webkit-align-items: center !important;
    -moz-align-items: center !important;
    -ms-align-items: center !important;
    align-items: center !important;
    -webkit-justify-content: center !important;
    -moz-justify-content: center !important;
    -ms-justify-content: center !important;
    justify-content: center !important;
    -ms-flex-pack: center !important;
    text-align: center !important;
    -ms-flex-item-align: center !important;
    align-self: center !important;
    border: none !important;
    cursor: pointer !important;
    background-color: #27D165 !important;
    color: white !important;
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25) !important;
}

.modal_form_ascension-btn:not(:checked)+label:hover {
    background-color: white !important;
    color: #27D165 !important;
}

.modal_form_ascension-btn:checked+label .uil,
.modal_form_ascension-btn:not(:checked)+label .uil {
    margin-left: 10px !important;
    font-size: 18px;
}

.modal_form_ascension-btn:checked+label:after,
.modal_form_ascension-btn:not(:checked)+label:after {
    position: fixed !important;
    top: 30px !important;
    right: 30px !important;
    z-index: 110 !important;
    width: 40px !important;
    border-radius: 3px !important;
    height: 30px !important;
    text-align: center !important;
    line-height: 30px !important;
    font-size: 18px !important;
    background-color: white !important;
    color: #27D165 !important;
    content: 'x' !important;
    box-shadow: 0 12px 25px 0 rgba(16, 39, 112, .25) !important;
    transition: all 200ms linear !important;
    opacity: 0 !important;
    pointer-events: none !important;
    transform: translateY(20px) !important;
}

.modal_form_ascension-btn:checked+label:hover:after,
.modal_form_ascension-btn:not(:checked)+label:hover:after {
    background-color: #27D165 !important;
    color: white !important;
}

.modal_form_ascension-btn:checked+label:after {
    transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear !important;
    opacity: 1 !important;
    pointer-events: auto !important;
    transform: translateY(0) !important;
}

.modal_form_ascension {
    position: fixed !important;
    display: block !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    margin: 0 auto !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 100 !important;
    overflow-x: hidden !important;
    background-color: rgba(31, 32, 41, .75) !important;
    pointer-events: none !important;
    opacity: 0 !important;
    transition: opacity 250ms 700ms ease !important;
}

.modal_form_ascension-btn:checked~.modal_form_ascension {
    pointer-events: auto !important;
    opacity: 1 !important;
    transition: all 300ms ease-in-out !important;
}

.modal_form_ascension-wrap {
    position: relative !important;
    display: block !important;
    width: 100% !important;
    max-width: 600px !important;
    max-height: 600px !important;
    margin: 0 auto !important;
    margin-top: 50px !important;
    margin-bottom: 20px !important;
    border-radius: 4px !important;
    overflow: hidden !important;
    padding-bottom: 20px !important;
    background-color: #fff !important;
    -ms-flex-item-align: center !important;
    align-self: center !important;
    box-shadow: 0 12px 25px 0 rgba(199, 175, 189, .25) !important;
    opacity: 0 !important;
    transform: scale(0.6) !important;
    transition: opacity 250ms 250ms ease, transform 300ms 250ms ease !important;
}

.modal_form_ascension-wrap img {
    display: block !important;
    width: 100% !important;
    height: auto !important;
}

.modal_form_ascension-wrap p {
    font-size: 12px !important;
    margin: 0px !important;
}

.modal_form_ascension-btn:checked~.modal_form_ascension .modal_form_ascension-wrap {
    opacity: 1 !important;
    transform: scale(1) !important;
    transition: opacity 250ms 500ms ease, transform 350ms 500ms ease !important;
}

.modal_form_ascension-btn:checked~.logo img {
    filter: brightness(100%) !important;
    transition: all 250ms linear !important;
}

@media screen and (max-width: 500px) {
    .modal_form_ascension-wrap {
        width: calc(95%) !important;
        margin: auto !important;
        padding-bottom: 15px !important;
    }
    .modal_form_ascension-wrap p {
        margin: 0px !important;
        font-size: 12px !important;
    }
}

.whatsapp-ico_ascension {
    width: 25px;
    fill: #1b9646;
}

.padding-top--64 {
    padding-top: 64px;
}

.padding-top--24 {
    padding-top: 14px;
}

.padding-top--48 {
    padding-top: 48px;
}

.padding-bottom--24 {
    padding-bottom: 10px;
}

.padding-horizontal--48 {
    padding: 40px;
}

.padding-bottom--15 {
    padding-bottom: 10px;
}

.padding-top--15 {
    padding-top: 10px;
}

.formbg-outer-ascension .flex-justifyContent--center {
    -ms-flex-pack: center;
    justify-content: center;
}

.formbg-outer-ascension span {
    font-size: 12px;
    line-height: 12px;
    color: #1a1f36;
}

.formbg-outer-ascension label {
    margin-bottom: 10px;
}

.formbg-outer-ascension .reset-pass a,
.formbg-outer-ascension label {
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.formbg-outer-ascension .reset-pass>a {
    text-align: right;
    margin-bottom: 10px;
}

.formbg-outer-ascension .grid--50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.formbg-outer-ascension .field {
    width: 100% !important;
    background-color: rgb(255, 255, 255) !important;
}

.vs__open-indicator {
    fill: black;
}

.formbg-outer-ascension .field input {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px 8px 16px;
    box-sizing: border-box;
    width: 100% !important;
    min-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: unset;
    border-radius: 4px !important;
    outline-color: #27D165;
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.formbg-outer-ascension .field select {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" role="presentation" class="vs__open-indicator"><path d="M9.211364 7.59931l4.48338-4.867229c.407008-.441854.407008-1.158247 0-1.60046l-.73712-.80023c-.407008-.441854-1.066904-.441854-1.474243 0L7 5.198617 2.51662.33139c-.407008-.441853-1.066904-.441853-1.474243 0l-.737121.80023c-.407008.441854-.407008 1.158248 0 1.600461l4.48338 4.867228L7 10l2.211364-2.40069z"></path></svg>') no-repeat right #ddd;
    -webkit-appearance: none !important;
    background-position-x: calc(100% - 7px);
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border: unset;
    border-radius: 4px 4px !important;
    outline-color: #27D165;
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.formbg-outer-ascension .field select::-ms-expand {
    display: none !important;
}

.formbg-outer-ascension .field select:after {
    display: none !important;
}

.formbg-outer-ascension .field .errors_ascension,
.formbg-outer-ascension .field .errors_ascension {
    outline-color: red;
    border: 1px solid red;
}

.formbg-outer-ascension .submitAscension-form {
    background-color: #27D165;
    box-shadow: 0 12px 35px 0 rgb(16 39 112 / 25%);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: #27D165;
}

.formbg-outer-ascension .submitAscension-form:hover {
    background-color: white;
    box-shadow: 0 12px 20px 1px rgb(16 39 112 / 18%);
    color: #27D165;
    font-weight: 600;
    cursor: pointer;
    transition: 300ms;
}

.formbg-outer-ascension .field-checkbox input {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    box-shadow: unset;
    min-height: unset;
}

.formbg-outer-ascension .field-checkbox label {
    display: flex;
    align-items: center;
    margin: 0;
}

.whatsapp-ico_fixed_ascension {
    fill: white;
    width: 50px;
    height: 50px;
    padding: 3px;
    background-color: #27D165;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    transition: 300ms;
}

.whatsapp-ico_fixed_ascension:hover {
    box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.3);
}

.whatsapp-ico_fixed_ascension {
    cursor: pointer;
}

.whatsapp-ico_fixed_ascension:hover {
    color: red;
}

.whatsapp-ico_fixed_ascension:active {
    color: blue;
}

#label-whatsapp-fixed-icon {
    height: 0 !important;
    width: 0 !important;
    background-color: transparent !important;
}